body{font-size: 14px;
	margin: auto;
}

.navbar-header{float:right; background-color:cadetblue;
	color:blue;
	margin: 10px;
	border-radius: 5px;
}
.logo{font-size: large;
	background-color:cadetblue;
	color:blue;
}
.container{font-size: small; align-content: flex-end}

.footer{background-color:cadetblue;
margin: 30px; border-radius: 10px;
}