html
body {
	width: 100%;
	margin: auto;
}

.container {
	padding: 10px;
	width: 1170px;
	height: 25px;
}

.header {
	height: 50px;
	background: cadetblue;
	max-font-size: small;
}

.logo {
	font-size: 25px;
	margin: 100px;
	padding: 20px;
	color: blue;
	height: 35px;
}

li {
	list-style: none;
	float: right;
	margin-left: 15px
}

.nav {
	float: right;
	height: 35px;
	color: blue;
	padding: 10px
}

.text-box {
	border-radius: 6px;
	padding: 20px 15px 15px;
	margin-bottom: 20px;
}

.bg-pink {
	background: pink;
}

.bg-blue {
	background-color: lightblue;
}

.footer {
	padding: 25px;
	display: flex;
	align-content: center;
	background: cadetblue
}