body{width: 100%; margin: auto;
}
.container{width: 1170px; height: 90px;
}
.header{height: 50px; background: cadetblue; max-font-size: small;
	border-radius: 5px;
}
.logo{font-size: 25px; margin: 100px;
	padding: 20px; color: blue;
	height: 35px;
}
li{ list-style: none;
	float: right;  margin-left: 15px}

.nav{float:right; height: 35px; color: blue; padding: 10px}

.footer{ height: 50px; background: cadetblue;
	margin:auto; border-radius:5px; }
.cd-md-6{ align-content: inherit;}
.cd-md-4{align-content: center;}